.button {
  padding: 26px 42px;
  border-radius: 107px;
  font-size: 18px;
  font-weight: 500;
  line-height: 24.59px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.button:disabled {
  background-color: var(--disabled);
  border: none;
  cursor: not-allowed;
}

.button:not(:disabled):hover {
  background-color: var(--hover-black);
}

.primary {
  background-color: var(--primary-black);
  color: var(--white);
}

.secondary {
  border: 1px solid var(--br-gray);
  background-color: transparent;
  color: var(--primary-black);
}

.secondary:not(:disabled):hover {
  background-color: var(--bg-secondary);
}

.iconContainer {
  display: inline-block;
}
